@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');

*{
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

body{
    padding: 1rem;
}

h1{
    text-align:center;
}

form{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 500px;
    margin: 0 auto;
}

label{
    font-weigth: bold;
    margin-bottom: 5px;
}

input, select{
    width:100%;
    padding: 10px;
    border: 1px solid #CCC;
    font-size: 1rem;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #FFF;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 66px;
    transition: background-color 0.3s; 
}

button:hover {
    background-color: #555; 
}

