@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');

* { 
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100%;
    heigth: 100vh;
    display: flex;
    justify-content: center;
    align-itms: center;
    padding: 1rem;
    
}

h1{
    text-align: center;
}

.form {
    width: 500px;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
    margin: 0 auto;
}


.buttonLogin {
    display: flex;
    align-items: center;
    
}

.buttonLogin button {
    border: none;
    background-color: #6C63FF;
    borde-radius: 5px;
    padding: 10px;
    color: #fff;
    font-size: 1.1rem;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
} 

label{
    font-weight: bold;
    margin-bottom: 5px;
    padding: 10px;
    
}

input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.1rem;
}

.buttoContinue{
    text-align: center;
}

.buttoContinue button{
    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

